In [49]:
# Modules
import os
import csv

# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from random import random
from scipy.stats import sem

In [50]:
# File to Load
map_data = "df2018_Annie2.csv"

# Set path for file
map_data_csvpath = os.path.join("../project2_visualization/assets/data/df2018_Annie2.csv")
print(map_data_csvpath)

# Open the CSV
with open(map_data_csvpath, newline="") as csvfile:
    map_data_2018 = pd.read_csv("../project2_visualization/assets/data/df2018_Annie2.csv", delimiter=",")

../project2_visualization/assets/data/df2018_Annie2.csv

In [51]:
# Display the 2018 vaccination dataset for preview
map_data_2018.head()

   VAERS_ID SEX STATE  AGE_YRS            Vaccine_Name Age_Categories
0    732217   F    TN    66.00  VACCINE NOT SPECIFIED     60 or Older
1    732218   F    NY     0.33       DTAP + IPV + HIB      2-4 months
2    732218   F    NY     0.33                 PNEUMO      2-4 months
3    732218   F    NY     0.33              ROTAVIRUS      2-4 months
4    732219   F    NY    71.00                 ZOSTER     60 or Older

In [62]:
states_df = map_data_2018.groupby('STATE').size()
states_df.head()

STATE
AK     172
AL     508
AR     290
AZ    1044
CA    3965
dtype: int64

In [65]:
states_df.to_csv(r'../project2_visualization/assets/data/states_df.csv')

In [55]:
map_data_2018[['STATE', 'VAERS_ID']].count()

STATE       41032
VAERS_ID    41032
dtype: int64

In [53]:
# Using GroupBy in order to categorize the data according to "STATE"
states_df = map_data_2018.groupby(['STATE'])
print(states_df)
# Visualize data according to count.
states_df.count().head()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x1a1e460d30>

       VAERS_ID   SEX  AGE_YRS  Vaccine_Name  Age_Categories
STATE
AK          172   172      172           172             172
AL          508   508      508           508             508
AR          290   290      290           290             289
AZ         1044  1044     1044          1044            1044
CA         3965  3965     3965          3965            3958

In [56]:
states_df[['STATE']].count().head()

       STATE
STATE
AK       172
AL       508
AR       290
AZ      1044
CA      3965